.entry-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.4);
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  min-height: 93px;
  color: white;
}

.missing-attribute-text {
  color: rgba(var(--bs-warning-rgb), 1);
  font-style: italic;
}

.category-text {
  font-size: 17px;
}

.date-amount-text {
  display: flex;
  font-size: 14px;
}

.bank-text {
  font-size: 16px;
}

.description-text {
  font-size: 13px;
}

.divider-line {
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.12);
  margin: 0.5rem 0;
}
