<div class="entry-box" (click)="entriesStore.editEntity(entry.id)">
  <div>
    <div class="category-text">
      @if (entry.category && entry.subCategory) {
        <div>{{ entry.category.name }}: {{ entry.subCategory.name }}</div>
      }

      @if (!entry.subCategory) {
        <div class="missing-attribute-text">Missing Category</div>
      }
    </div>

    <div class="date-amount-text">
      @if (entry.dateSpent) {
        <span>{{ entry.dateSpent | date: "shortDate" }}</span>
      }

      @if (!entry.dateSpent) {
        <span class="missing-attribute-text">Missing Date</span>
      }

      <span class="mx-2 fw-bold">|</span>

      @if (entry.amount) {
        <span>{{ entry.amount | currency }}</span>
      }

      @if (!entry.amount) {
        <span class="missing-attribute-text">Missing Amount</span>
      }
    </div>

    @if (entry.categoryTags.length > 0) {
      @for (categoryTag of entry.categoryTags; track categoryTag.id) {
        <nz-tag>{{ categoryTag.name }}</nz-tag>
      }
    }

    @if (entry.description) {
      <div class="description-text mt-3">
        {{ entry.description }}
      </div>
    }
  </div>

  <div class="bank-text">
    @if (entry.bank; as bank) {
      @if (bank.filePath) {
        <img [srcset]="bank.filePath" [alt]="bank.name" height="40" />
      }
      @if (!bank.filePath) {
        <span>{{ bank.name }}</span>
      }
    }

    @if (!entry.bank) {
      <span class="missing-attribute-text">Missing Bank</span>
    }
  </div>
</div>
