<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="(model?.id === 0 ? 'Create' : 'Edit') + ' Event'"
  [nzWidth]="modalWidth"
  (nzOnCancel)="eventsStore.clearSelectedEntity()"
  nzOkText="Save"
  nzCancelText="Close"
  (nzOnOk)="saveEvent()"
  [nzStyle]="modalStyle"
  [nzCancelDisabled]="eventsStore.loadingOne()"
  [nzOkDisabled]="eventsStore.loadingOne()"
  [nzOkLoading]="eventsStore.loadingOne()"
  [nzMaskClosable]="false"
>
  <ng-container *nzModalContent>
    @if (model) {
      <div>
        <div class="w-100 mb-4">
          <div class="mb-2"><span class="text-danger">*</span> Event Title:</div>

          <input nz-input [(ngModel)]="model.name" class="w-100" />
        </div>

        <div class="w-100 mb-4">
          <div class="mb-2"><span class="text-danger">*</span> Event Date:</div>

          <nz-date-picker
            [(ngModel)]="model.eventDate"
            nzFormat="MM/dd/yyyy HH:mm"
            [nzShowNow]="false"
            [nzShowTime]="{ nzFormat: 'HH:mm', nzUse12Hours: true, nzMinuteStep: 15 }"
          ></nz-date-picker>
        </div>

        <div class="w-100 mb-4">
          <div class="mb-2">Event Details:</div>

          <textarea nz-input [(ngModel)]="model.notes"></textarea>
        </div>

        <div class="w-100 mb-4 d-flex align-items-end">
          <div class="me-4">Limit Participants:</div>

          <nz-switch [(ngModel)]="model.limitParticipants"></nz-switch>
        </div>

        <div class="w-100 mb-4" *ngIf="model.limitParticipants">
          <div class="mb-2">Max Spots:</div>

          <nz-input-number [(ngModel)]="model.numOfPeople"></nz-input-number>
        </div>

        <div class="w-100 mb-4 d-flex align-items-end">
          <div class="me-4">Notify On Signup:</div>

          <nz-switch [ngModel]="model.notificationEmail !== undefined" (ngModelChange)="updateNotifySwitch($event)"></nz-switch>
        </div>

        @if (model.notificationEmail !== undefined) {
          <div class="w-100 mb-4">
            <div class="mb-2">Email:</div>

            <input nz-input [(ngModel)]="model.notificationEmail" class="w-100" />
          </div>
        }
      </div>
    }
  </ng-container>
</nz-modal>
