<nz-modal
  [nzVisible]="isVisible()"
  [nzTitle]="(model?.id === 0 ? 'Create' : 'Edit') + ' Task'"
  [nzWidth]="modalWidth"
  (nzOnCancel)="tasksStore.clearCreateEditEntity()"
  nzOkText="Save"
  nzCancelText="Close"
  (nzOnOk)="saveTask()"
  [nzCancelDisabled]="tasksStore.loadingOne()"
  [nzOkDisabled]="tasksStore.loadingOne()"
  [nzOkLoading]="tasksStore.loadingOne()"
  [nzMaskClosable]="false"
  [nzStyle]="modalStyle"
  [nzBodyStyle]="{ background: '#333232', padding: '1px 0' }"
>
  <ng-container *nzModalContent>
    @if (model) {
      <div class="d-flex justify-content-evenly form-section">
        @if (model.id !== 0) {
          <div class="d-flex flex-column align-items-center" (click)="model.isActive = !model.isActive">
            <fa-icon class="fa-xl" [ngClass]="{ 'text-warning': !model.isActive, 'text-muted': model.isActive }" [icon]="pause"></fa-icon>
          </div>
        }

        <div class="d-flex flex-column align-items-center" (click)="model.priority = model.priority === 0 ? 1 : 0">
          <fa-icon
            class="fa-xl"
            [ngClass]="{ 'color-high-priority': model.priority === 1, 'text-muted': model.priority === 0 }"
            [icon]="flag"
          ></fa-icon>
        </div>
      </div>

      <div class="form-section">
        <div class="mb-2">Task Name: <span class="text-danger">*</span></div>

        <input nz-input [(ngModel)]="model.name" class="w-100" nzSize="large" />
      </div>

      <div class="d-flex justify-content-between align-items-center form-section">
        <div class="">Task Type:</div>

        <nz-radio-group [(ngModel)]="model.ownerType" nzButtonStyle="solid" nzSize="large" (ngModelChange)="changeOwner($event)">
          <label nz-radio-button nzValue="user">Personal</label>
          <label nz-radio-button nzValue="family">Family</label>
        </nz-radio-group>
      </div>

      @if (familiesStore.isPerTaskPointStrategy()) {
        <div class="form-section">
          <div class="mb-2">Task Points: <span class="text-danger">*</span></div>

          <div class="w-100 d-flex justify-content-evenly">
            @for (taskPoint of familiesStore.taskPoints(); track $index) {
              <span
                (click)="updateTaskPoint(taskPoint)"
                class="me-2 task-points cursor-pointer {{ model.taskPoint | selectedTaskPointColor: taskPoint }}"
              >
                {{ taskPoint }}
              </span>
            }
          </div>
        </div>
      }

      @if (model.recurring || model.id === 0) {
        <div class="form-section">
          @if (model.id === 0) {
            <div class="d-flex justify-content-between align-items-center">
              <div class="">Recurring:</div>

              <nz-switch [(ngModel)]="model.recurring" (ngModelChange)="updateRecurring($event)"></nz-switch>
            </div>
          }

          @if (model.id !== 0 && model.recurring) {
            <div (click)="recurringExpanded = !recurringExpanded" class="d-flex justify-content-between align-items-center cursor-pointer">
              <div class="">Recurring Details</div>

              <fa-icon *ngIf="!recurringExpanded" [icon]="arrowDown"></fa-icon>
              <fa-icon *ngIf="recurringExpanded" [icon]="arrowUp"></fa-icon>
            </div>
          }

          @if ((model.id === 0 && model.recurring) || recurringExpanded) {
            <div class="ms-4">
              <div class="py-3">
                <div class="mb-2">Frequency: <span class="text-danger">*</span></div>

                <div class="d-flex align-items-center">
                  Every

                  <nz-input-number class="mx-3" [nzMin]="1" [(ngModel)]="model.frequencyAmount" nzSize="large"></nz-input-number>

                  <nz-select [(ngModel)]="model.frequencyUnit" class="w-100" nzSize="large">
                    <nz-option nzValue="day" [nzLabel]="'Day' + (model.frequencyAmount | pluralFrequency)"></nz-option>
                    <nz-option nzValue="week" [nzLabel]="'Week' + (model.frequencyAmount | pluralFrequency)"></nz-option>
                    <nz-option nzValue="month" [nzLabel]="'Month' + (model.frequencyAmount | pluralFrequency)"></nz-option>
                    <nz-option nzValue="year" [nzLabel]="'Year' + (model.frequencyAmount | pluralFrequency)"></nz-option>
                  </nz-select>
                </div>
              </div>

              <div class="py-3">
                <div class="mb-2">{{ model.id === 0 ? "First" : "Next" }} Due Date: <span class="text-danger">*</span></div>

                <nz-date-picker
                  [(ngModel)]="model.dueDate"
                  class="w-100"
                  [nzDisabledDate]="disabledDate"
                  nzSize="large"
                  nzFormat="MM/dd/yyyy"
                  [nzInputReadOnly]="true"
                ></nz-date-picker>
              </div>
            </div>
          }
        </div>
      }

      @if (!model.recurring) {
        <div class="form-section">
          <div class="mb-2">Due Date: <span class="text-danger">*</span></div>

          <nz-date-picker
            [(ngModel)]="model.dueDate"
            class="w-100"
            [nzDisabledDate]="disabledDate"
            nzSize="large"
            nzFormat="MM/dd/yyyy"
            [nzInputReadOnly]="true"
          ></nz-date-picker>
        </div>
      }

      <div class="form-section">
        <div (click)="advancedExpanded = !advancedExpanded" class="d-flex justify-content-between align-items-center cursor-pointer">
          <div class="">Advanced Details</div>

          @if (advancedExpanded) {
            <fa-icon [icon]="arrowUp"></fa-icon>
          } @else {
            <fa-icon [icon]="arrowDown"></fa-icon>
          }
        </div>

        @if (advancedExpanded) {
          <div class="ms-4">
            <div class="py-3">
              <div class="mb-2">Description:</div>

              <textarea nz-input [(ngModel)]="model.description" class="w-100"></textarea>
            </div>

            <div class="py-3">
              <div class="">Task Tags:</div>

              <nz-select class="w-100" nzMode="tags" [(ngModel)]="model.tags">
                @for (tag of tagsStore.entities(); track $index) {
                  <nz-option [nzLabel]="tag" [nzValue]="tag"></nz-option>
                }
              </nz-select>
            </div>
          </div>
        }
      </div>
    }
  </ng-container>
</nz-modal>
