
.color-high-priority {
  color: #922724;
}

.type-icon {
  width: 26.25px;
  text-align: center;
}

.color-0 {
  color: #932714;
}

.color-1 {
  color: #a97b20;
}

.color-2 {
  color: #4bacaf;
}

.color-3 {
  color: #198754;
}

.form-section {
  background: #1f1f1f;
  padding: 0.75rem;
  margin: 0 0.25rem 1px 0.25rem;
  border-radius: 2px;
}
