<nz-modal [(nzVisible)]="isVisible" nzTitle="Change Password" [nzWidth]="modalWidth" [nzStyle]="modalStyle"
          (nzOnCancel)="isVisible = false" nzOkText="Save" (nzOnOk)="savePassword()" [nzCancelDisabled]="saving"
          [nzOkDisabled]="form?.invalid || saving" [nzOkLoading]="saving" [nzMaskClosable]="false">

  <ng-container *nzModalContent>

    <div *ngIf="form" [formGroup]="form">

      <div class="w-100 mb-4">

        <div class="mb-2">Current Password:</div>

        <input nz-input formControlName="currentPassword" class="w-100" type="password">

      </div>

      <div class="w-100 mb-4">

        <div class="mb-2">New Password:</div>

        <input nz-input formControlName="newPassword" class="w-100" type="password">

      </div>

      <div class="w-100 mb-4">

        <div class="mb-2">Confirm New Password:</div>

        <input nz-input formControlName="confirmPassword" class="w-100" type="password">

      </div>

      <div style="height: 22px" class="text-danger">
        {{form.errors ? form.errors['message'] : ''}}
      </div>

    </div>

  </ng-container>

</nz-modal>
