<div>

  <div *ngFor="let goal of _goals" class="goal-container w-100">

    <div class="d-flex mb-3 w-100">

      <fa-icon class="me-2" [icon]="edit" (click)="editGoal.emit(goal)"></fa-icon>

      <div style="font-size: 17px">{{goal.title}}</div>

    </div>

    <div class="d-flex w-100 days-container">

      <div *ngFor="let goalDay of goal.id | goalDays | async; let last = last; let first = first"
           [ngClass]="{'day-right-border': !last}" class="day-box">
        <app-goal-day-button [goal]="goal" [day]="goalDay.dayString" [goalDay]="goalDay.goalDay" [isFirst]="first"
                             [isLast]="last"></app-goal-day-button>
      </div>


    </div>

  </div>

</div>
