<div class="w-100 task-border">
  @for (task of _tasks; track task.id) {
    <div class="task-box" [ngClass]="{ 'highlighted-row': highlightedTaskId === task.id }">
      <div class="first-row" (click)="viewTask.emit(task)">
        <div>
          <div class="title">{{ task.name }}</div>
          <div class="due-text d-flex align-items-center">
            @if (task.priority === 1) {
              <div style="text-align: center" class="me-1">
                <fa-icon style="color: #922724" [icon]="flag"></fa-icon>
              </div>
            }
            @if (task.isActive) {
              <div class="">Due: {{ task.dueDate | date }}</div>
            }
            @if (!task.isActive) {
              <div class="text-warning">*Paused</div>
            }
          </div>
        </div>
        <div class="d-flex">
          @if (task.recurring) {
            <div style="width: 18px; text-align: center">
              <fa-icon style="color: grey" [icon]="repeat"></fa-icon>
            </div>
          }
          <div style="width: 18px; text-align: center" class="ms-2">
            @if (task.ownerType === "family") {
              <fa-icon style="color: grey" [icon]="household"></fa-icon>
            }
            @if (task.ownerType === "user") {
              <fa-icon style="color: grey" [icon]="personal"></fa-icon>
            }
          </div>
        </div>
      </div>
    </div>
  }

  @if (_tasks?.length === 0) {
    <nz-empty class="my-4" nzNotFoundContent="No Tasks"></nz-empty>
  }
</div>
