.members-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

.member-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 100%;
  margin-bottom: 0;
}

@media only screen and (max-width: 700px) {
  .members-container {
    flex-direction: column;
  }

  .member-container {
    margin-bottom: 1rem;
  }
}

::ng-deep {
  .ngx-charts text {
    fill: rgb(181, 175, 166);
  }
}

.task-settings-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 1rem;
}

.task-settings-field {
  display: flex;
  align-items: center;

  div {
    width: 70px;
    margin-right: 1rem;
  }

  nz-input-number {
    width: 70px;
  }
}
