<div class="w-100 task-page-container p-2">
  @if (tasksStore.loadingAll()) {
    <div class="loading-container">
      <nz-spin></nz-spin>
    </div>
  } @else {
    <app-weekly-tasks-segment></app-weekly-tasks-segment>

    <app-weekly-progress [userConfig]="taskUserConfigsStore.authUserConfig()"></app-weekly-progress>

    <app-tasks-list
      [tasks]="tasksStore.filteredTasks()"
      (viewTask)="viewTask.emit($event)"
      (skipTask)="skipTask.emit($event)"
    ></app-tasks-list>
  }
</div>

@if (isMobile) {
  <app-create-edit-task-modal-mobile [openModal]="tasksStore.createEditEntity()"></app-create-edit-task-modal-mobile>
  <app-view-task-modal [openModal]="viewTask.asObservable()"></app-view-task-modal>
  <app-skip-task-modal [openModal]="skipTask.asObservable()"></app-skip-task-modal>
}
