<div class="w-100 task-page-container p-2" *ngIf="!(tasksQuery.selectLoading() | async)">

  <app-weekly-tasks-segment></app-weekly-tasks-segment>

  <app-weekly-progress [userConfig]="taskUserConfigsQuery.activeUserConfig$ | async"></app-weekly-progress>

  <app-tasks-list [tasks]="(tasksQuery.filteredTasks$ | async) ?? []" (editTask)="editTask.emit($event)"
                  (viewTask)="viewTask.emit($event)" (skipTask)="skipTask.emit($event)"></app-tasks-list>

</div>

<app-create-edit-task-modal-mobile *ngIf="isMobile" [openModal]="createEditTask"></app-create-edit-task-modal-mobile>

<app-view-task-modal *ngIf="isMobile" [openModal]="viewTask.asObservable()"
                     (editTask)="editTask.emit($event)"></app-view-task-modal>

<app-skip-task-modal *ngIf="isMobile" [openModal]="skipTask.asObservable()"></app-skip-task-modal>
