<nz-modal [(nzVisible)]="isVisible" nzTitle="View Task" [nzWidth]="modalWidth" [nzStyle]="modalStyle"
          [nzBodyStyle]="{background: '#333232'}">

  <ng-container *nzModalContent>

    <div *ngIf="model" style="font-size: 15px">

      <div>

        <div class="d-flex w-100 justify-content-between align-items-center">

          <div class="title">{{model.name}}</div>

          <fa-icon style="color: grey" class="fa-lg" *ngIf="model.ownerType === 'family'" [icon]="household"></fa-icon>
          <fa-icon style="color: grey" class="fa-lg" *ngIf="model.ownerType === 'user'" [icon]="personal"></fa-icon>

        </div>

        <div class="mt-3 ps-1" *ngIf="model.description">
          {{model.description}}
        </div>

        <nz-divider></nz-divider>

        <div *ngIf="model.recurring" class="d-flex w-100 justify-content-between">

          <div>Recurs:</div>
          <div>Every {{model.frequencyAmount}} {{model.frequencyUnit + (model.frequencyAmount === 1 ? '' : 's')}}</div>

        </div>

        <div class="d-flex align-items-center justify-content-between w-100">


          <div>{{model.recurring ? 'Next due date' : 'Due date'}}:</div>

          <div *ngIf="model.isActive">{{model.dueDate | date}}, {{model.dueDate | dueDateHumanReadable}}</div>

          <div *ngIf="!model.isActive" class="text-warning">Paused</div>

        </div>

      </div>

      <div *ngIf="(familiesQuery.isPerTaskPoint$ | async) && model.taskPoint !== undefined"
           class="d-flex w-100 justify-content-between">

        <div>Worth:</div>

        <div>
          <span style="color: {{model.taskPoint | taskPointColor}}">
          {{model.taskPoint}}</span> {{'point' + (model.taskPoint !== 1 ? 's' : '')}}
        </div>


      </div>

      <div *ngIf="(familiesQuery.isPerTaskPoint$ | async) && model.taskPoint !== undefined"
           class="d-flex w-100 justify-content-between">

        <div>Priority:</div>

        <div>
          <fa-icon class="me-1" style="color: {{model.priority === 0 ? 'grey' : '#922724'}}" [icon]="flag"></fa-icon>
          {{model.priority === 0 ? 'Normal' : 'High'}}
        </div>


      </div>

      <div *ngIf="model.recurring">

        <nz-divider></nz-divider>

        <div (click)="showHistory = !showHistory"
             class="d-flex justify-content-between align-items-center cursor-pointer">

          <div class="">Task History <span *ngIf="model.taskHistory">({{model.taskHistory.length}})</span></div>

          <fa-icon *ngIf="!showHistory" [icon]="arrowDown"></fa-icon>
          <fa-icon *ngIf="showHistory" [icon]="arrowUp"></fa-icon>

        </div>

        <div *ngIf="showHistory" class="ms-4">

          <div class="py-1">

            <div *ngIf="loadingHistory" style="height: 25px"
                 class="d-flex w-100 justify-content-center align-items-center">
              <nz-spin></nz-spin>
            </div>

            <div *ngIf="!loadingHistory && model.taskHistory">

              <div style="font-style: italic" *ngIf="model.taskHistory.length === 0">
                No History
              </div>

              <div *ngIf="model.taskHistory.length > 0">

                <div *ngFor="let taskHistory of model.taskHistory" class="w-100 d-flex pt-2">
                  <div class="d-flex justify-content-between me-4" style="min-width: 100px">
                    <div>{{taskHistory.completedAt | date}}</div>
                    <div>-</div>
                  </div>
                  <div style="font-style: italic">{{taskHistory.completedByName}}</div>
                </div>

              </div>

            </div>


          </div>

        </div>

      </div>

    </div>

  </ng-container>

  <div *nzModalFooter class="d-flex justify-content-between">

    <div>

      <button nz-button nzType="primary" nzDanger nz-popconfirm (nzOnConfirm)="deleteTask()"
              nzPopconfirmTitle="Are you sure?" [nzLoading]="deleting" [disabled]="deleting">Delete
      </button>

    </div>

    <div>

      <button nz-button nzType="primary" (click)="editTaskClicked()" [disabled]="deleting">Edit</button>

      <button nz-button nzType="default" (click)="isVisible = false" [disabled]="deleting">Close</button>

    </div>

  </div>

</nz-modal>

