<div class="w-100" *ngIf="eventService.event$ | async as event">

  <div class="w-100 d-flex justify-content-center text-light" style="font-size: 30px">
    {{event.name}}
  </div>

  <div class="w-100 d-flex justify-content-center mb-3" style="color: #787d82">
    {{event.eventDate | date : 'short'}}
  </div>

  <div class="w-100 d-flex justify-content-center mb-2" style="color: #787d82">{{event.notes}}</div>

  <nz-divider></nz-divider>

  <div class="ps-2 mt-2" style="color: #787d82">

    <div class="d-flex justify-content-between align-items-center">

      <div style="font-size: 19px; text-decoration: underline">Signed up</div>


      <div *ngIf="!event.limitParticipants" style="font-size: 12px">
        {{event.eventParticipants.length}} {{event.eventParticipants.length === 1 ? 'person' : 'people'}} coming
      </div>

      <div *ngIf="event.limitParticipants" style="font-size: 12px">
        {{event.eventParticipants.length}}/{{event.numOfPeople}} spots taken
      </div>

    </div>


    <div class="my-2" *ngFor="let participant of event.eventParticipants">{{participant.name}}</div>

    <div class="w-100 d-flex justify-content-start align-items-center mt-4"
         *ngLet="(eventCacheService.signedUp$ | async) as signedUp">

      <button nz-button nzType="primary" (click)="openSignupModal.next()"
              [disabled]="(event.limitParticipants && (eventService.spotsFull$ | async)) || signedUp">
        Signup
      </button>

      <div *ngIf="!signedUp && event.limitParticipants && (eventService.spotsFull$ | async)" class="text-danger ms-3"
           style="font-style: italic">* Event is full</div>

      <div *ngIf="signedUp" class="text-success ms-3" style="font-style: italic">* You are signed up!</div>

    </div>


  </div>


</div>

<app-event-participant-modal [openModal]="openSignupModal.asObservable()"></app-event-participant-modal>
