<div class="w-100 mt-3 task-border">
  @for (task of tasks; track task.id) {
    <app-task-row [task]="task" (viewTask)="viewTask.emit($event)" (skipTask)="skipTask.emit($event)"></app-task-row>
  }

  @if (tasks.length === 0) {
    <nz-empty class="my-4" nzNotFoundContent="No Tasks"></nz-empty>
  } @else {
    <div class="load-more-container">
      <button nz-button nzSize="large" nzType="primary" (click)="tasksStore.loadNextWeek()" nzBlock>Load Next Week's Tasks</button>
    </div>
  }
</div>
