<nz-modal
  [nzVisible]="isVisible()"
  [nzTitle]="(model?.id === 0 ? 'Create' : 'Edit') + ' Target'"
  nzWidth="800px"
  (nzOnCancel)="targetStore.clearCreateEditEntity()"
  nzOkText="Save"
  nzCancelText="Close"
  (nzOnOk)="saveTarget()"
  [nzCancelDisabled]="targetStore.loadingOne()"
  [nzOkDisabled]="targetStore.loadingOne()"
  [nzOkLoading]="targetStore.loadingOne()"
  [nzMaskClosable]="false"
>
  <ng-container *nzModalContent>
    @if (model) {
      <div>
        <div class="w-100 mb-4">
          <div class="mb-2">Target Name: *</div>

          <input nz-input [(ngModel)]="model.name" class="w-100" />
        </div>

        <div class="w-100 mb-4">
          <div class="mb-2">Target Path: *</div>

          <input nz-input [(ngModel)]="model.targetUrl" class="w-100" />
        </div>

        <div class="w-100 mb-4">
          <div class="mb-2">Host Name:</div>

          <input nz-input [(ngModel)]="model.hostName" class="w-100" />
        </div>
      </div>
    }
  </ng-container>
</nz-modal>
