<nz-modal
  [nzVisible]="isVisible()"
  [nzTitle]="(model?.id === 0 ? 'Create' : 'Edit') + ' Transaction'"
  [nzWidth]="modalWidth"
  [nzStyle]="modalStyle"
  [nzClosable]="false"
>
  <ng-container *nzModalContent>
    @if (model) {
      <div class="d-flex">
        <!--      <button nz-button nz-popconfirm nzPopconfirmTitle="Your changes will not be saved"-->
        <!--              (nzOnConfirm)="isVisible = false">-->
        <button nz-button (click)="entriesStore.clearCreateEditEntity()">
          <fa-icon [icon]="close"></fa-icon>
        </button>

        <button nz-button>
          <fa-icon [icon]="previous"></fa-icon>
        </button>

        <button nz-button>
          <fa-icon [icon]="next"></fa-icon>
        </button>
      </div>

      <nz-divider></nz-divider>

      <div class="form-box">
        Category:

        <nz-select></nz-select>
      </div>

      <div class="form-box">
        Amount:

        <input nz-input [(ngModel)]="model.amount" />
      </div>

      <div class="form-box">
        Date:

        <nz-date-picker [(ngModel)]="model.dateSpent"></nz-date-picker>
      </div>

      <div class="form-box">
        Bank:

        <nz-select></nz-select>
      </div>
    }
  </ng-container>

  <div *nzModalFooter class="d-flex justify-content-between">
    <div>
      <button
        nz-button
        nzType="primary"
        nzDanger
        nz-popconfirm
        (nzOnConfirm)="deleteEntry()"
        nzPopconfirmTitle="Are you sure?"
        [nzLoading]="deleting"
        [disabled]="deleting || entriesStore.loadingOne()"
      >
        Delete
      </button>
    </div>

    <div>
      <button nz-button nzType="default" (click)="saveEntry()" [disabled]="deleting || entriesStore.loadingOne()">Save</button>

      <button nz-button nzType="primary" (click)="saveEntryAndNext()" [disabled]="deleting || entriesStore.loadingOne()">Save &</button>
    </div>
  </div>
</nz-modal>
