.draft-page-container {
  background: #3b4563;
  border-radius: 5px;
  position: relative;
}

.header-menu {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
}

.fireworks-test {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  z-index: 901;
  opacity: 0.75;
}
