
.directory {
  text-decoration: underline;
  color: #0d6efd;
  background-color: transparent;
  cursor: pointer;
  transition: color 0.3s;
}

.directory:hover {
  color: #0a58ca;
  text-decoration: none;
}

.hover-icons {
  cursor: pointer;
}

.working-dir-button:hover, .hover-icons:hover {
  color: #0a58ca;
}

