
.responsive-width {
  width: 33.33vw;
}

.responsive-layout {
  flex-direction: row;
}

@media only screen and (max-width: 950px) {
  .responsive-width {
    width: 100%;
  }

  .responsive-layout {
    flex-direction: column;
  }
}
