<nz-table #goalsTableTag [nzData]="_goals">
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Created At</th>
    </tr>
  </thead>
  <tbody>
    @for (goal of goalsTable?.data; track goal.id) {
      <tr>
        <td class="d-flex">
          <button nz-button class="ant-btn-icon-only" nzType="text" (click)="editGoal.emit(goal.id)">
            <fa-icon [icon]="edit" class="text-primary"></fa-icon>
          </button>
          <button
            nz-button
            class="ant-btn-icon-only"
            nzType="text"
            nz-popconfirm
            nzPopconfirmTitle="Are you sure?"
            (nzOnConfirm)="deleteGoal(goal)"
          >
            <fa-icon [icon]="delete" class=""></fa-icon>
          </button>
        </td>
        <td>{{ goal.title }}</td>
        <td>{{ goal.createdAt | date }}</td>
      </tr>
    }
  </tbody>
</nz-table>
