<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="(model?.id === 0 ? 'Create' : 'Edit') + ' Folder'"
  [nzWidth]="modalWidth"
  (nzOnCancel)="closeModal()"
  nzOkText="Save"
  nzCancelText="Close"
  (nzOnOk)="saveFolder()"
  [nzStyle]="modalStyle"
  [nzOkLoading]="folderStore.loadingOne()"
  [nzOkDisabled]="folderStore.loadingOne()"
  [nzCancelDisabled]="folderStore.loadingOne()"
>
  <ng-container *nzModalContent>
    @if (model) {
      <div>
        <div class="w-100">
          Name:

          <input nz-input [(ngModel)]="model.name" class="w-100" />
        </div>
      </div>
    }
  </ng-container>
</nz-modal>
