<div class="w-100 page-container p-2">

  <app-gaming-segment [tab]="tab" (tabChanged)="tab = $event"></app-gaming-segment>

  <div class="w-100 table-border">

  @if (tab === 'sessions') {

    @if (gamingSessionsFacadeService.sessionsLoading()) {

      <div class="d-flex w-100 justify-content-center align-items-center" style="height: 50vh">
        <nz-spin></nz-spin>
      </div>

    } @else {

      <app-gaming-sessions-list
        [sessions]="(gamingSessionsFacadeService.gamingSessions$ | async) ?? []"
        (editSession)="editSession.next($event)"
      ></app-gaming-sessions-list>

      <app-create-edit-session-modal
        [openModal]="openSessionModal$"
        ></app-create-edit-session-modal>

    }
  } @else {

    @if (gamingSessionsFacadeService.devicesLoading()) {

      <div class="d-flex w-100 justify-content-center align-items-center" style="height: 50vh">
        <nz-spin></nz-spin>
      </div>

    } @else {

      <app-gaming-devices-list
        [devices]="(gamingSessionsFacadeService.gamingDevices$ | async) ?? []"
        (editDevice)="editDevice.next($event)"
      ></app-gaming-devices-list>

      <app-create-edit-device-modal
        [openModal]="openDeviceModal$"
      ></app-create-edit-device-modal>

    }

  }

  </div>

</div>

