<nz-modal
  [nzVisible]="isVisible()"
  nzTitle="Edit Item"
  [nzWidth]="modalWidth"
  [nzStyle]="modalStyle"
  [nzMaskClosable]="false"
  (nzOnCancel)="groceryListItemsStore.clearCreateEditEntity()"
>
  <ng-container *nzModalContent>
    @if (model) {
      <div class="w-100 mb-4">
        <div class="mb-2">Item:</div>

        <div>{{ model.groceryItem.name }}</div>
      </div>

      @if (model.groceryItem.unit !== groceryItemUnit.none) {
        <div class="w-100 mb-4">
          <div class="mb-2">Quantity:</div>

          <nz-input-number class="w-100" [(ngModel)]="model.quantity" [nzMin]="0"></nz-input-number>
        </div>
      }
    }
  </ng-container>

  <div *nzModalFooter class="d-flex justify-content-between">
    <div>
      <button
        nz-button
        nzType="primary"
        nzDanger
        nz-popconfirm
        (nzOnConfirm)="removeEntry()"
        nzPopconfirmTitle="Are you sure?"
        [nzLoading]="removing"
        [disabled]="removing || groceryListItemsStore.loadingOne()"
      >
        Remove
      </button>
    </div>

    <div>
      <button
        nz-button
        nzType="default"
        (click)="groceryListItemsStore.clearCreateEditEntity()"
        [disabled]="groceryListItemsStore.loadingOne() || removing"
      >
        Cancel
      </button>

      <button
        nz-button
        nzType="primary"
        (click)="saveEntry()"
        [nzLoading]="groceryListItemsStore.loadingOne()"
        [disabled]="groceryListItemsStore.loadingOne() || removing"
      >
        Save
      </button>
    </div>
  </div>
</nz-modal>
