.title {
  font-size: 19px;
  margin-bottom: 1.0rem;
}

.devices-container {
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;}

.device-container {
  display: flex;
  align-items: center;
  height: 60px;
  width: 100%;
  justify-content: space-between;
  box-sizing: border-box;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.4);
  padding: 0.25rem 0.75rem;
}
