<div class="d-flex flex-column w-100">
  @if (folderStore.loadingAll()) {
    <nz-spin></nz-spin>
  } @else {
    <app-folder-grid
      [showUptimeKuma]="(showUptimeKuma$ | async) ?? false"
      [downItems]="(uptimeKumaService.downItems$ | async) ?? []"
      [uptimeKumaIsConnected]="(uptimeKumaService.isConnected$ | async) ?? false"
    ></app-folder-grid>
  }
</div>

<div style="position: fixed; right: 24px; bottom: 88px">
  <button nz-button nzShape="circle" nzSize="large" nzType="primary" (click)="folderStore.toggleEditMode()">
    <fa-icon [icon]="edit"></fa-icon>
  </button>
</div>
