<app-page-header
  *ngIf="!isMobile"
  buttonText="Create Directory"
  title="File Explorer"
  (createButtonClicked)="createNewDirectory()"
></app-page-header>

<ng-container *ngLet="workingDirectory$ | async as workingDirectory">
  <div>
    <app-directories-files-list
      (openCreateEditModal)="openCreateEditModal.next($event)"
      [workingDirectory]="workingDirectory"
      [newLocationBeingSelected]="!!newLocationBeingSelected"
      (cancelNewLocation)="newLocationSelectedOrCanceled()"
      (selectNewLocation)="newLocationSelectedOrCanceled($event)"
    ></app-directories-files-list>
  </div>
</ng-container>

<app-create-edit-directory-item-modal
  [openModal]="openCreateEditModal$"
  [workingDirectory]="(workingDirectory$ | async) ?? []"
  [newLocationSelected]="newLocationSelected.asObservable()"
  (selectNewLocation)="newLocationBeingSelected = $event"
></app-create-edit-directory-item-modal>
