@if (!isMobile) {
  <app-page-header buttonText="Create Directory" title="File Explorer" (createButtonClicked)="createNewDirectory()"></app-page-header>
}

<div>
  <app-directories-files-list
    [workingDirectory]="directoryItemsStore.ui.workingDirectory()"
    [newLocationBeingSelected]="!!newLocationBeingSelected"
    (selectNewLocation)="newLocationSelectedOrCanceled($event)"
    (openCreateEditModal)="openCreateEditModal.next($event)"
  ></app-directories-files-list>
</div>

<app-create-edit-directory-item-modal
  [openModal]="openCreateEditModal$"
  [workingDirectory]="directoryItemsStore.ui.workingDirectory()"
  [newLocationSelected]="newLocationSelected.asObservable()"
  (selectNewLocation)="newLocationBeingSelected = $event"
></app-create-edit-directory-item-modal>
