<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="(model?.id === 0 ? 'Create' : 'Edit') + ' Task'"
  [nzWidth]="'500px'"
  (nzOnCancel)="tasksStore.clearCreateEditEntity()"
  nzOkText="Save"
  nzCancelText="Close"
  (nzOnOk)="saveTask()"
  [nzCancelDisabled]="tasksStore.loadingOne()"
  [nzOkDisabled]="tasksStore.loadingOne()"
  [nzOkLoading]="tasksStore.loadingOne()"
  [nzMaskClosable]="false"
>
  <ng-container *nzModalContent>
    @if (model) {
      @if (model.id !== 0 && model.recurring) {
        <div class="w-100 d-flex justify-content-between align-items-center mb-4">
          <div class="">Pause Recurring Task:</div>

          <nz-switch [ngModel]="!model.isActive" (ngModelChange)="model.isActive = !$event"></nz-switch>
        </div>
      }

      <div class="w-100 mb-4">
        <div class="mb-2">Task Name: <span class="text-danger">*</span></div>

        <input nz-input [(ngModel)]="model.name" class="w-100" />
      </div>

      <div class="w-100 d-flex justify-content-between align-items-center mb-4">
        <div class="">High Priority:</div>

        <nz-switch [ngModel]="model.priority === 1" (ngModelChange)="model.priority = !!$event ? 1 : 0"></nz-switch>
      </div>

      <div class="w-100 mb-4">
        <div class="mb-2">Description:</div>

        <textarea nz-input [(ngModel)]="model.description" class="w-100"></textarea>
      </div>

      <div class="w-100 mb-4 d-flex justify-content-between align-items-center">
        <div class="">Task Type:</div>

        <nz-radio-group [(ngModel)]="model.ownerType" nzButtonStyle="solid" (ngModelChange)="changeOwner($event)">
          <label nz-radio-button nzValue="user">Personal</label>
          <label nz-radio-button nzValue="family">Family</label>
        </nz-radio-group>
      </div>

      @if (familiesStore.isPerTaskPointStrategy()) {
        <div class="w-100 mb-4">
          <div class="">Task Points: <span class="text-danger">*</span></div>

          <nz-select [ngModel]="model.taskPoint" (ngModelChange)="updateTaskPoint($event)" class="w-100">
            @for (taskPoint of familiesStore.taskPoints(); track $index) {
              <nz-option [nzValue]="taskPoint" [nzLabel]="taskPoint + (taskPoint === 1 ? ' point' : ' points')"></nz-option>
            }
          </nz-select>
        </div>
      }

      <div class="w-100 mb-4">
        <div class="">Task Tags:</div>

        <nz-select class="w-100" nzMode="tags" [(ngModel)]="model.tags">
          @for (tag of tagsStore.entities(); track $index) {
            <nz-option [nzLabel]="tag" [nzValue]="tag"></nz-option>
          }
        </nz-select>
      </div>

      <div class="w-100 d-flex justify-content-between align-items-center mb-4">
        <div class="">Recurring:</div>

        <nz-switch [(ngModel)]="model.recurring" (ngModelChange)="updateRecurring($event)" [nzDisabled]="model.id !== 0"></nz-switch>
      </div>

      <div class="w-100 mb-4" *ngIf="!model.recurring">
        <div class="mb-2">Due Date: <span class="text-danger">*</span></div>

        <nz-date-picker
          [(ngModel)]="model.dueDate"
          class="w-100"
          [nzDisabledDate]="disabledDate"
          nzFormat="MM/dd/yyyy"
          [nzInputReadOnly]="true"
        ></nz-date-picker>
      </div>

      @if (model.recurring) {
        <div class="w-100 mb-4">
          <div class="mb-2">Frequency: <span class="text-danger">*</span></div>

          <div class="d-flex align-items-center">
            Every

            <nz-input-number class="mx-3" [nzMin]="1" [(ngModel)]="model.frequencyAmount"></nz-input-number>

            <nz-select [(ngModel)]="model.frequencyUnit" class="w-100">
              <nz-option nzValue="day" [nzLabel]="'Day' + (model.frequencyAmount | pluralFrequency)"></nz-option>
              <nz-option nzValue="week" [nzLabel]="'Week' + (model.frequencyAmount | pluralFrequency)"></nz-option>
              <nz-option nzValue="month" [nzLabel]="'Month' + (model.frequencyAmount | pluralFrequency)"></nz-option>
              <nz-option nzValue="year" [nzLabel]="'Year' + (model.frequencyAmount | pluralFrequency)"></nz-option>
            </nz-select>
          </div>
        </div>

        <div class="w-100 mb-4">
          <div class="mb-2">{{ model.id === 0 ? "First" : "Next" }} Due Date: <span class="text-danger">*</span></div>

          <nz-date-picker
            [(ngModel)]="model.dueDate"
            class="w-100"
            [nzDisabledDate]="disabledDate"
            nzFormat="MM/dd/yyyy"
            [nzInputReadOnly]="true"
          ></nz-date-picker>
        </div>
      }
    }
  </ng-container>
</nz-modal>
