<div class="w-100 event-border">
  @if (loading) {
    <div class="d-flex justify-content-center align-items-center m-5">
      <nz-spin></nz-spin>
    </div>
  } @else {
    @for (event of events; track event.id) {
      <div class="event-box">
        <div class="first-row">
          <div>
            <div class="title">
              {{ event.name }}
              @if (event.deletedAt) {
                <span class="text-warning archived-text">*Archived</span>
              }
            </div>

            <div class="due-text">{{ event.eventDate | date: "short" }}</div>
          </div>

          <div class="d-flex">
            @let participantsGoing = event | participantsGoing;
            <div class="me-3">
              @switch (event.limitParticipants) {
                @case (true) {
                  <div class="d-flex spot-progress">
                    <nz-progress
                      [nzPercent]="getPercent(participantsGoing, event.numOfPeople)"
                      [nzSteps]="event.numOfPeople"
                      [nzShowInfo]="false"
                      nzStrokeColor="#1890ff"
                    ></nz-progress>
                    <div class="ms-2">{{ participantsGoing.length }}/{{ event.numOfPeople }}</div>
                  </div>
                }
                @case (false) {
                  <div>{{ participantsGoing.length }} participant{{ participantsGoing.length === 1 ? "" : "s" }}</div>
                }
              }
            </div>
            @if (expandSet.has(event.id)) {
              <fa-icon style="cursor: pointer" [icon]="arrowUp" (click)="expandSet.delete(event.id)"></fa-icon>
            } @else {
              <fa-icon style="cursor: pointer" [icon]="arrowDown" (click)="expandSet.add(event.id)"></fa-icon>
            }
          </div>
        </div>

        @if (expandSet.has(event.id)) {
          <div class="second-row">
            <div class="d-flex justify-content-evenly">
              <div class="d-flex flex-column align-items-center" (click)="copyToClipboard(event)">
                <fa-icon class="text-info" [icon]="copy"></fa-icon>
                Copy
              </div>

              <a
                class="d-flex flex-column align-items-center"
                [href]="event.eventUrl"
                target="_blank"
                style="text-decoration: none; color: white"
              >
                <fa-icon class="text-warning" [icon]="open"></fa-icon>
                Open
              </a>

              <div class="d-flex flex-column align-items-center" (click)="editEvent.emit(event.id)">
                <fa-icon class="text-primary" [icon]="edit"></fa-icon>
                Edit
              </div>

              <div
                class="d-flex flex-column align-items-center"
                nz-popconfirm
                nzPopconfirmTitle="Are you sure?"
                (nzOnConfirm)="archiveEvent.emit(event.id)"
              >
                <fa-icon class="text-danger" [icon]="archive"></fa-icon>
                Archive
              </div>
            </div>

            @if (event.eventParticipants.length > 0) {
              <nz-divider style="margin: 16px 0"></nz-divider>
            }

            <nz-list>
              @for (participant of event.eventParticipants; track participant.id) {
                <nz-list-item>
                  <div>
                    @if (participant.isGoing) {
                      <fa-icon [icon]="participantGoing" class="text-success me-2"></fa-icon>
                    } @else {
                      <fa-icon [icon]="participantNotGoing" class="text-danger me-2"></fa-icon>
                    }
                    {{ participant.name }}
                  </div>
                  <fa-icon [icon]="participantChange" (click)="editParticipant.emit(participant.id)"></fa-icon>
                </nz-list-item>
              }
            </nz-list>
          </div>
        }
      </div>
    }

    @if (events.length === 0) {
      <nz-empty class="my-4" nzNotFoundContent="No Events"></nz-empty>
    }
  }
</div>
