<app-page-header *ngIf="!isMobile" buttonText="Create User" title="Users" (createButtonClicked)="createNewUser()"></app-page-header>

<div>
  @if (usersStore.loadingAll()) {
    <div class="d-flex w-100 justify-content-center align-items-center" style="height: 25vh">
      <nz-spin></nz-spin>
    </div>
  } @else {
    <app-user-table [users]="usersStore.entities()" (editUser)="usersStore.editEntity($event)"></app-user-table>
  }
</div>

<app-create-edit-user-modal [openModal]="usersStore.createEditEntity()"></app-create-edit-user-modal>
