<nz-layout>

  <nz-sider nzCollapsible nzWidth="200px">
    <ul nz-menu nzMode="inline">
      <li nz-menu-item [nzMatchRouter]="true">
        <fa-icon class="anticon" [icon]="home"></fa-icon>
        <span>Dashboard</span>
      </li>
      <li nz-menu-item routerLink="app/goals" [nzMatchRouter]="true">
        <fa-icon class="anticon" [icon]="goals"></fa-icon>
        <span>Goals</span>
      </li>
      <li nz-menu-item routerLink="app/users" [nzMatchRouter]="true">
        <fa-icon class="anticon" [icon]="users"></fa-icon>
        <span>Users</span>
      </li>
    </ul>
  </nz-sider>

  <nz-layout>

    <nz-content>

      <div class="inner-content">

        <router-outlet></router-outlet>

      </div>

    </nz-content>

    <nz-footer>Big Mike ©2021</nz-footer>

  </nz-layout>

</nz-layout>
