<nz-layout>

  <ng-container *ngIf="authQuery.isLoggedIn$ | async">

    <nz-sider *ngIf="sideMenuClosed !== undefined" nzCollapsible [(nzCollapsed)]="sideMenuClosed"
              (nzCollapsedChange)="authService.updateUserConfig({sideMenuOpen: !$event})" nzWidth="200px"
              [nzCollapsedWidth]="collapsedWidth">
      <app-side-menu [routes]="(permissionsService.usersRoutes$ | async) ?? []" [sideMenuClosed]="sideMenuClosed"
                     (closeSideMenu)="closeSideMenu()" [isMobile]="isMobile"></app-side-menu>
    </nz-sider>

  </ng-container>

  <nz-layout>

    <nz-content style="{{isMobile ? 'margin-bottom: 69px' : ''}}">

      <div style="min-height: calc(100vh - 69px)">

        <router-outlet></router-outlet>

      </div>

    </nz-content>

    <nz-footer *ngIf="!isMobile" class="footer-shadow">Big Mike ©2021</nz-footer>

    <nz-footer *ngIf="isMobile" class="footer-shadow mobile-footer">
      <app-mobile-footer></app-mobile-footer>
    </nz-footer>

  </nz-layout>

</nz-layout>
