<nz-layout *ngLet="authQuery.isLoggedIn$ | async as isLoggedIn">

  <nz-header *ngIf="isMobile" style="height: 40px; padding: 0 16px">

    <div class="w-100 h-100 d-flex justify-content-between align-items-center">

      <div style="flex: 1">
        <fa-icon *ngIf="isLoggedIn" [icon]="menu" (click)="sideMenuClosed = !sideMenuClosed"></fa-icon>
      </div>

      <div style="font-size: 18px">{{mobileHeaderService.title$ | async}}</div>

      <div style="flex: 1" class="d-flex w-100 justify-content-end">
        <fa-icon *ngIf="mobileHeaderService.showCreateButton$ | async" [icon]="plus"
                 (click)="mobileHeaderService.clickedButton()"></fa-icon>
      </div>

    </div>

  </nz-header>

  <ng-container *ngIf="!isMobile && isLoggedIn">

    <nz-sider *ngIf="sideMenuClosed !== undefined" nzCollapsible [(nzCollapsed)]="sideMenuClosed"
              (nzCollapsedChange)="authService.updateUserConfig({sideMenuOpen: !$event})" nzWidth="200px"
              [nzCollapsedWidth]="collapsedWidth">
      <app-side-menu [routes]="(permissionsService.usersRoutes$ | async) ?? []" [sideMenuClosed]="sideMenuClosed"
                     (closeSideMenu)="closeSideMenu()" [isMobile]="isMobile"></app-side-menu>
    </nz-sider>

  </ng-container>

  <nz-layout>

    <ng-container *ngIf="isMobile">

      <nz-sider *ngIf="sideMenuClosed !== undefined" nzCollapsible [(nzCollapsed)]="sideMenuClosed" [nzTrigger]="null"
                (nzCollapsedChange)="authService.updateUserConfig({sideMenuOpen: !$event})" nzWidth="200px"
                [nzCollapsedWidth]="collapsedWidth">
        <app-side-menu [routes]="(permissionsService.usersRoutes$ | async) ?? []" [sideMenuClosed]="sideMenuClosed"
                       (closeSideMenu)="closeSideMenu()" [isMobile]="isMobile"></app-side-menu>
      </nz-sider>

    </ng-container>

    <nz-content style="{{isMobile ? 'margin-bottom: 69px' : ''}}" (click)="closeSideIfMobile()">

      <div style="min-height: calc(100vh - {{isMobile ? '109px' : '69px'}})">

        <router-outlet></router-outlet>

      </div>

    </nz-content>

    <nz-footer *ngIf="!isMobile" class="footer-shadow">Big Mike ©2022</nz-footer>

    <nz-footer *ngIf="isMobile" class="footer-shadow mobile-footer" style="z-index: 1000">
      <app-mobile-footer></app-mobile-footer>
    </nz-footer>

  </nz-layout>

</nz-layout>
