<div class="filter-container">
  <input
    nz-input
    placeholder="Search"
    [ngModel]="ui.search"
    class="filter-boxes"
    (ngModelChange)="tasksStore.updateUiState({ search: $event }, false)"
  />

  <nz-select
    nzMode="multiple"
    [ngModel]="ui.tags"
    nzPlaceHolder="Tags"
    class="filter-boxes"
    (ngModelChange)="tasksStore.updateUiState({ tags: $event }, false)"
  >
    @for (tag of tagsStore.entities(); track $index) {
      <nz-option [nzLabel]="tag" [nzValue]="tag"></nz-option>
    }
  </nz-select>
</div>
