<nz-tabset [nzTabBarExtraContent]="createButton" nzSize="large" nzLinkRouter>
  <nz-tab (nzSelect)="loadWeeklyTasks()">
    <a *nzTabLink nz-tab-link [routerLink]="['.']" [queryParams]="{ tab: 'weekly-tasks' }" queryParamsHandling="merge"> Weekly Tasks </a>
    <app-weekly-tasks-page (skipTask)="openSkipTaskModal.next($event)" (viewTask)="openViewTaskModal.next($event)"></app-weekly-tasks-page>
  </nz-tab>
  @if (familiesStore.activeFamily()) {
    <nz-tab (nzSelect)="selectedTab = 'My Family'">
      <a *nzTabLink nz-tab-link [routerLink]="['.']" [queryParams]="{ tab: 'my-family' }" queryParamsHandling="merge"> My Family </a>
      <app-my-family-page></app-my-family-page>
    </nz-tab>
  }
  <nz-tab (nzSelect)="loadTasksTable()">
    <a *nzTabLink nz-tab-link [routerLink]="['.']" [queryParams]="{ tab: 'tasks' }" queryParamsHandling="merge"> Tasks </a>
    <app-tasks-page></app-tasks-page>
  </nz-tab>
  @if (authStore.viewFamiliesTab()) {
    <nz-tab (nzSelect)="selectedTab = 'Family'">
      <a *nzTabLink nz-tab-link [routerLink]="['.']" [queryParams]="{ tab: 'families' }" queryParamsHandling="merge"> Families </a>
      <app-families-page></app-families-page>
    </nz-tab>
  }
</nz-tabset>

<ng-template #createButton>
  @if (selectedTab !== "My Family") {
    <button nz-button nzType="primary" (click)="createEntity()">Create {{ selectedTab }}</button>
  }
</ng-template>

<app-create-edit-task-modal-mobile [openModal]="tasksStore.createEditEntity"></app-create-edit-task-modal-mobile>
<app-view-task-modal [openModal]="openViewTaskModal.asObservable()"></app-view-task-modal>
<app-skip-task-modal [openModal]="openSkipTaskModal.asObservable()"></app-skip-task-modal>
