<nz-tabset [nzTabBarExtraContent]="createButton" nzSize="large" nzLinkRouter>
  <nz-tab (nzSelect)="loadWeeklyTasks()">
    <a *nzTabLink nz-tab-link [routerLink]="['.']" [queryParams]="{tab: 'weekly-tasks'}" queryParamsHandling="merge">
      Weekly Tasks
    </a>
    <app-weekly-tasks-page></app-weekly-tasks-page>
  </nz-tab>
  <nz-tab *ngIf="familiesQuery.selectActive() | async" (nzSelect)="selectedTab = 'My Family'">
    <a *nzTabLink nz-tab-link [routerLink]="['.']" [queryParams]="{tab: 'my-family'}" queryParamsHandling="merge">
      My Family
    </a>
    <app-my-family-page></app-my-family-page>
  </nz-tab>
  <nz-tab (nzSelect)="loadTasksTable()">
    <a *nzTabLink nz-tab-link [routerLink]="['.']" [queryParams]="{tab: 'tasks'}" queryParamsHandling="merge">
      Tasks
    </a>
    <app-tasks-page (editTask)="openTaskModal.next($event)"></app-tasks-page>
  </nz-tab>
  <nz-tab *ngIf="permissionsService.viewFamiliesTab$ | async" (nzSelect)="selectedTab = 'Family'">
    <a *nzTabLink nz-tab-link [routerLink]="['.']" [queryParams]="{tab: 'families'}" queryParamsHandling="merge">
      Families
    </a>
    <app-families-page (openFamilyModal)="openFamilyModal.next($event)"></app-families-page>
  </nz-tab>
</nz-tabset>


<!--<nz-tabset [nzTabBarExtraContent]="createButton" nzSize="large">-->
<!--  <nz-tab (nzSelect)="loadWeeklyTasks()" nzTitle="Weekly Tasks">-->
<!--    <app-weekly-tasks-page></app-weekly-tasks-page>-->
<!--  </nz-tab>-->
<!--  <nz-tab *ngIf="familiesQuery.selectActive() | async" (nzSelect)="selectedTab = 'My Family'" nzTitle="My Family">-->
<!--    <app-my-family-page></app-my-family-page>-->
<!--  </nz-tab>-->
<!--  <nz-tab (nzSelect)="loadTasksTable()" nzTitle="Tasks">-->
<!--    <app-tasks-page (editTask)="openTaskModal.next($event)"></app-tasks-page>-->
<!--  </nz-tab>-->
<!--  <nz-tab *ngIf="permissionsService.viewFamiliesTab$ | async" (nzSelect)="selectedTab = 'Family'" nzTitle="Families">-->
<!--    <app-families-page (openFamilyModal)="openFamilyModal.next($event)"></app-families-page>-->
<!--  </nz-tab>-->
<!--</nz-tabset>-->

<ng-template #createButton>
  <button *ngIf="selectedTab !== 'My Family'" nz-button nzType="primary" (click)="createEntity()">
    Create {{selectedTab}}</button>
</ng-template>

<!--<nz-layout>-->
<!--  <nz-content>-->
<!--    <app-weekly-tasks-page></app-weekly-tasks-page>-->
<!--  </nz-content>-->

<!--  <nz-footer>Testing</nz-footer>-->

<!--</nz-layout>-->

<app-create-edit-family-modal [openModal]="openFamilyModal.asObservable()"></app-create-edit-family-modal>

<app-create-edit-task-modal [openModal]="openTaskModal.asObservable()"></app-create-edit-task-modal>
