<app-page-header *ngIf="!isMobile" title="Goals" (createButtonClicked)="createNewGoal()"
                 buttonText="Create Goal"></app-page-header>

<div>
  <app-goals-table *ngIf="!isMobile" [goals]="goalsQuery.goals$ | async"
                   (editGoal)="openGoalModal.next($event)"></app-goals-table>

  <app-goals-table-mobile *ngIf="isMobile" [goals]="goalsQuery.goals$ | async"
                          (editGoal)="openGoalModal.next($event)"></app-goals-table-mobile>
</div>

<app-create-edit-goal-modal [openModal]="openGoalModal$"></app-create-edit-goal-modal>
