@if (!isMobile) {
  <app-page-header title="Goals" (createButtonClicked)="createNewGoal()" buttonText="Create Goal"></app-page-header>
}

@if (goalsStore.loadingAll()) {
  <div style="height: 50vh" class="w-100 d-flex justify-content-center align-items-center">
    <nz-spin></nz-spin>
  </div>
} @else {
  <div>
    <app-week-selector></app-week-selector>

    @if (isMobile) {
      <app-goals-table-mobile [goals]="goalsStore.entities()" (editGoal)="goalsStore.editEntity($event)"></app-goals-table-mobile>
    } @else {
      <app-goals-table [goals]="goalsStore.entities()" (editGoal)="goalsStore.editEntity($event)"></app-goals-table>
    }
  </div>
}

<app-create-edit-goal-modal [openModal]="goalsStore.createEditEntity()"></app-create-edit-goal-modal>
