@if (authStore.auth(); as user) {
  <div class="my-profile-container p-4">
    <div class="mt-2 d-flex justify-content-center w-100" style="font-size: 22px">{{ user.name }}</div>

    <nz-divider></nz-divider>

    <div class="mb-4">
      Name:

      <input
        nz-input
        [(ngModel)]="user.name"
        class="input-borders"
        [ngModelOptions]="{ updateOn: 'blur' }"
        (ngModelChange)="updateMe({ name: $event })"
      />
    </div>

    <div class="mb-4">
      <button nz-button nzType="primary" nzSize="default" (click)="changePasswordModal.next()">Change Password</button>
    </div>

    @if (authStore.hasPermissionTo(moneyPermission)) {
      <div class="mb-4">
        Money App Token:

        <input
          nz-input
          [(ngModel)]="user.userConfig.moneyAppToken"
          class="input-borders"
          [ngModelOptions]="{ updateOn: 'blur' }"
          (ngModelChange)="updateUserConfig({ moneyAppToken: $event })"
          type="password"
        />
      </div>
    }

    <div class="responsive-width mb-4">
      <div class="mb-2">Features:</div>

      @for (role of rolesStore.entities(); track role.id) {
        <div class="d-flex justify-content-between w-100 mb-2" style="font-size: 14px">
          {{ role | displayRoleName }}
          <nz-switch [ngModel]="user | hasRole: role.id" (ngModelChange)="updateUsersRoles($event, role, user)"></nz-switch>
        </div>
      }
    </div>

    <div class="w-100 mb-4">
      <div class="mb-2">Home Page:</div>

      <nz-select
        [ngModel]="user.userConfig.homePageRole"
        (ngModelChange)="updateUserConfig({ homePageRole: $event })"
        style="width: 300px"
        [nzAllowClear]="true"
      >
        @for (role of user.roles; track role.id) {
          <nz-option [nzLabel]="role | displayRoleName" [nzValue]="role.name"></nz-option>
        }
      </nz-select>
    </div>

    <div class="">
      <button nz-button nz-popconfirm nzPopconfirmTitle="Are you sure?" nzType="primary" nzSize="default" (nzOnConfirm)="logout()">
        Logout
      </button>
    </div>
  </div>
}

<app-change-password-modal [openModal]="changePasswordModal.asObservable()"></app-change-password-modal>
