<div class="w-100 grocery-item-border">
  @for (entry of entries(); track entry.id) {
    <div class="grocery-item-box" (click)="editEntry.emit(entry.id)">
      <div class="first-row">
        <label
          nz-checkbox
          class="me-2"
          [ngModel]="entry.bought"
          (ngModelChange)="markBought.emit(entry)"
          (click)="$event.stopPropagation()"
        ></label>

        <div class="title">
          {{ entry.groceryItem.name }}
          @if (formatGroceryListItemAmount(entry)) {
            <span class="amount">({{ formatGroceryListItemAmount(entry) }})</span>
          }
        </div>
      </div>

      @if (entry.groceryItem.tags.length > 0) {
        <div class="second-row">
          @for (tag of entry.groceryItem.tags; track tag) {
            <nz-tag>{{ tag }}</nz-tag>
          }
        </div>
      }
    </div>
  }

  @if (entries().length === 0) {
    <nz-empty class="my-4" nzNotFoundContent="Nothing on the list"></nz-empty>
  }
</div>
