.grocery-item-border {
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  color: white;
}

.grocery-item-box {
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.4);
  padding: 0.35rem 0.6rem;

  .first-row {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .second-row {
    margin: 0.25rem 0 0 1.75rem;
  }
}

.title {
  font-size: 15px;
  color: white;
}

.amount {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.7);
  margin-left: 0.25rem;
}
