<div class="d-flex flex-column align-items-center mb-2">

  <div class="users-name mb-2">{{stats.name}}</div>

  <div class="d-flex w-100 mb-2">

    <div class="d-flex flex-column align-items-center w-50">

      <div>Total Tasks</div>

      <div class="stat-values">{{stats.totalTasks}}</div>

    </div>

    <div class="d-flex flex-column align-items-center w-50">

      <div>Total Points</div>

      <div class="stat-values">{{stats.totalPoints}}</div>

    </div>

  </div>

  <div class="w-100 d-flex flex-column px-2">

    <div class="align-self-center">Top Tasks</div>

    <div *ngFor="let topTask of stats.topTasks" class="d-flex stat-values">

      <div style="min-width: 150px; margin-left: 2rem">{{topTask.taskName}}</div>
      <div class="mx-4">-</div>
      <div>{{topTask.count}}</div>

    </div>

  </div>

  <nz-divider *ngIf="isMobile"></nz-divider>

</div>
