<div class="d-flex flex-column align-items-center">
  <div class="users-name mb-2">{{ stats.name }}</div>

  <div class="d-flex w-100 mb-2">
    <div class="d-flex flex-column align-items-center w-50">
      <div>Total Tasks</div>

      <div class="stat-values">{{ stats.totalTasks }}</div>
    </div>

    <div class="d-flex flex-column align-items-center w-50">
      <div>Total Points</div>

      <div class="stat-values">{{ stats.totalEarnedPoints }} / {{ stats.totalExpectedPoints }}</div>
    </div>
  </div>

  <div class="w-100 d-flex flex-column px-2">
    <div class="align-self-center">Top Tasks</div>

    @for (topTask of stats.topTasks; track topTask.taskName) {
      <div class="d-flex stat-values">
        <div style="min-width: 150px; margin-left: 2rem">{{ topTask.taskName }}</div>
        <div class="mx-4">-</div>
        <div>{{ topTask.count }}</div>
      </div>
    }
  </div>

  @if (isMobile) {
    <nz-divider></nz-divider>
  }
</div>
