.title {
  font-size: 19px;
}

.devices-container {
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;}

.session-device-container {
  display: flex;
  align-items: center;
  height: 60px;
  width: 100%;
  justify-content: space-between;
  box-sizing: border-box;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.4);
  padding: 0.25rem 0.75rem;
}

.active-player {
  //background: #5a6a99;
  background: #63623b;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
  background: #3b4563;
  max-width: 40vw;
  color: white;
}

@media only screen and (max-width: 950px) {
  .cdk-drag-preview {
    max-width: 100%;
  }
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.session-device-container.cdk-drop-list-dragging .site-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
