@if (authStore.auth()?.groupIds?.grocery === null) {
  <app-no-grocery-group></app-no-grocery-group>
} @else {
  <app-grocery-items-filters [ui]="groceryItemsStore.ui()"></app-grocery-items-filters>

  <div class="w-100 grocery-page-container p-2">
    @if (isMobile) {
      <app-grocery-items-table-mobile
        [items]="groceryItemsStore.filteredItems()"
        (editItem)="groceryItemsStore.editEntity($event)"
        (deleteItem)="deleteItem($event)"
      ></app-grocery-items-table-mobile>
    } @else {
      <app-grocery-items-table
        [items]="groceryItemsStore.filteredItems()"
        (editItem)="groceryItemsStore.editEntity($event)"
        (deleteItem)="deleteItem($event)"
      >
      </app-grocery-items-table>
    }
  </div>

  <app-create-edit-grocery-item-modal [openModal]="groceryItemsStore.createEditEntity()"></app-create-edit-grocery-item-modal>
}
