.order-list {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}

.order-row {
  display: flex;
  align-items: center;
  padding: 0.5rem 0.75rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);

  &:last-child {
    border-bottom: none;
  }

  &.on-the-clock {
    background: #666e85;
    border-left: 3px solid #586cb9;
  }
}

.position-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  font-size: 12px;
  margin-right: 0.75rem;
}

.order-name {
  flex: 1;
}

@media only screen and (min-width: 601px) {
  .order-name {
    flex: 0 1 auto;
  }

  .order-dash {
    display: inline;
  }
}

.you-badge {
  margin-left: 0.4rem;
  font-size: 12px;
  font-weight: 600;
  color: #ffc53d;

  fa-icon {
    font-size: 10px;
  }
}

.order-dash {
  display: none;
  margin: 0 0.5rem;
  color: rgba(255, 255, 255, 0.35);
}

.order-pick {
  font-weight: 600;
}
