.footer-buttons-container {
  width: 100%;
  height: 100%;
  display: flex;
}

.footer-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 1 100%;
}

.unselected {
  color: rgba(255, 255, 255, 0.3);
}

.selected {
  color: rgba(255, 255, 255, 0.9);
}
