<div class="footer-buttons-container" *ngLet="currentRoute$ | async as currentRoute">

  <ng-container *ngLet="mobileFooterService.footerButtons$ | async as footerButtons">

    <div *ngIf="footerButtons.length === 0" style="padding: 24px 50px; font-size: 14px">Big Mike ©2022</div>

    <div class="footer-button {{currentRoute === footerButton.path ? 'selected' : 'unselected'}}"
         *ngFor="let footerButton of footerButtons" [routerLink]="footerButton.path">

      <fa-icon [icon]="footerButton.icon" class="fa-xl"></fa-icon>

      <div class="pt-2" style="font-size: 11px">{{footerButton.title}}</div>

    </div>

  </ng-container>

</div>
