<div class="footer-buttons-container">
  @let currentRoute = currentRoute$ | async;
  @let footerButtons = mobileDisplayService.footerButtons();
  @if (footerButtons.length === 0) {
    <div style="padding: 24px 50px; font-size: 14px">Big Mike ©2024</div>
  }
  @for (footerButton of footerButtons; track $index) {
    <div class="footer-button {{ currentRoute === footerButton.path ? 'selected' : 'unselected' }}" [routerLink]="footerButton.path">
      <fa-icon [icon]="footerButton.icon" class="fa-xl"></fa-icon>

      <div class="pt-2" style="font-size: 11px">{{ footerButton.title }}</div>
    </div>
  }
</div>
