<div class="d-flex justify-content-evenly align-items-center pb-2 container-width">
  <button nz-button [disabled]="familyStatsStore.yearBehindDisabled()" nzType="text" (click)="familyStatsStore.previousYear()">
    <fa-icon class="fa-xl" [icon]="left"></fa-icon>
  </button>

  <div>{{ familyStatsStore.year() }}</div>

  <button nz-button [disabled]="familyStatsStore.yearAheadDisabled()" nzType="text" (click)="familyStatsStore.nextYear()">
    <fa-icon class="fa-xl" [icon]="right"></fa-icon>
  </button>
</div>
