<div class="w-100 task-page-container p-2">
  @let ui = tasksStore.ui();
  <app-tasks-filters [ui]="ui"></app-tasks-filters>

  @if (tasksStore.loadingAll()) {
  } @else {
    @let tasks = tasksStore.filteredTasks();

    @if (isMobile) {
      <app-task-table-mobile [tasks]="tasks" [ui]="ui" (viewTask)="viewTask.emit($event)"></app-task-table-mobile>
    } @else {
      <app-tasks-table [tasks]="tasks" [ui]="ui"></app-tasks-table>
    }
  }
</div>

@if (isMobile) {
  <app-create-edit-task-modal-mobile [openModal]="tasksStore.createEditEntity()"></app-create-edit-task-modal-mobile>
}

<app-view-task-modal [openModal]="viewTask.asObservable()"></app-view-task-modal>
