<div class="w-100 d-flex justify-content-between align-items-center mb-4">

  <div style="font-size: 30px" class="text-white">Events</div>

  <button nz-button nzType="primary" (click)="createNewEvent()">Create Event</button>

</div>
<div class="w-100">

  <app-events-filters *ngIf="eventsQuery.ui$ | async as ui" [ui]="ui"></app-events-filters>

  <app-events-table [events]="eventsQuery.events$ | async" (editEvent)="openModal.next($event)"
                    (archiveEvent)="archiveEvent($event)"
                    (removeParticipant)="removeParticipant($event)"></app-events-table>

</div>

<app-create-edit-event [openModal]="openModal.asObservable()"></app-create-edit-event>
