@if (!isMobile) {
  <app-page-header buttonText="Create Event" title="Events" (createButtonClicked)="eventsStore.createEntity()"></app-page-header>
}

<div class="w-100 events-page-container p-2">
  <app-events-filters [ui]="eventsStore.ui()"></app-events-filters>

  @if (isMobile) {
    <app-mobile-events-table
      [events]="eventsStore.entities()"
      [loading]="eventsStore.loadingAll()"
      (editEvent)="eventsStore.editEntity($event)"
      (archiveEvent)="archiveEvent($event)"
      (editParticipant)="eventsStore.setSelectedParticipant($event)"
    ></app-mobile-events-table>
  } @else {
    <app-events-table
      [events]="eventsStore.entities()"
      [loading]="eventsStore.loadingAll()"
      (editEvent)="eventsStore.editEntity($event)"
      (archiveEvent)="archiveEvent($event)"
      (editParticipant)="eventsStore.setSelectedParticipant($event)"
    ></app-events-table>
  }
</div>

<app-create-edit-event [openModal]="eventsStore.createEditEntity"></app-create-edit-event>

<app-edit-participant-modal [openModal]="eventsStore.selectedParticipant"></app-edit-participant-modal>
