<nz-table #tasksTableTag [nzData]="_tasks" nzSize="small" [nzFrontPagination]="false">
  @let isPerTaskPointStrategy = familiesStore.isPerTaskPointStrategy();
  <thead>
    <tr>
      <th nzWidth="60px"></th>
      <th>Name</th>
      <th>Due Date</th>
      <th>Frequency</th>
      <th>Type</th>
      @if (isPerTaskPointStrategy) {
        <th nzWidth="50px">Points</th>
      }
    </tr>
  </thead>
  <tbody>
    @for (task of tasksTable?.data; track task.id) {
      <tr [ngClass]="{ 'highlighted-row': highlightedTaskId === task.id }">
        <td class="d-flex">
          <button nz-button class="ant-btn-icon-only" nzType="text" (click)="tasksStore.editEntity(task.id)">
            <fa-icon [icon]="edit" class="text-primary"></fa-icon>
          </button>
          <button
            nz-button
            class="ant-btn-icon-only"
            nzType="text"
            nz-popconfirm
            nzPopconfirmTitle="Are you sure?"
            (nzOnConfirm)="deleteTask(task)"
          >
            <fa-icon [icon]="delete" class=""></fa-icon>
          </button>
        </td>
        <td>{{ task.name }}</td>
        @if (task.isActive) {
          <td>{{ task.dueDate | date: "shortDate" }}</td>
        }
        @if (!task.isActive) {
          <td class="text-warning" style="font-style: italic">*Paused</td>
        }
        <td style="width: 18px; text-align: center">
          @if (task.recurring) {
            <fa-icon [icon]="repeat"></fa-icon>
          }
          @if (!task.recurring) {
            <fa-icon [icon]="single"></fa-icon>
          }
        </td>
        <td style="width: 18px; text-align: center">
          @if (task.ownerType === "family") {
            <fa-icon style="color: white" [icon]="household"></fa-icon>
          } @else {
            <fa-icon style="color: white" [icon]="personal"></fa-icon>
          }
        </td>
        @if (isPerTaskPointStrategy) {
          <td class="text-center">
            {{ task.taskPoint ?? 0 }}
          </td>
        }
      </tr>
    }
  </tbody>
</nz-table>
