<nz-table #tasksTableTag [nzData]="_tasks" nzSize="small">
  <thead>
  <tr>
    <th nzWidth="60px"></th>
    <th>Name</th>
    <th>Frequency</th>
    <th>Type</th>
    <th>Due Date</th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let task of tasksTable?.data">
    <tr>
      <td>
        <button nz-button class="ant-btn-icon-only" nzType="text"
                (click)="editTask.emit(task)">
          <fa-icon [icon]="edit" size="1x" class="text-primary"></fa-icon>
        </button>
      </td>
      <td>{{task.name}}</td>
      <td>
        <fa-icon *ngIf="task.recurring" [icon]="repeat"></fa-icon>
        <fa-icon *ngIf="!task.recurring" [icon]="single"></fa-icon>
      </td>
      <td>
        <fa-icon *ngIf="task.ownerType === 'family'" [icon]="household"></fa-icon>
        <fa-icon *ngIf="task.ownerType === 'user'" [icon]="personal"></fa-icon>
      </td>
      <td>{{task.dueDate | date : 'shortDate'}}</td>
    </tr>
  </ng-container>
  </tbody>

</nz-table>
