<nz-modal [(nzVisible)]="isVisible" [nzTitle]="(model?.id === 0 ? 'Create' : 'Edit') + ' Device'" [nzWidth]="modalWidth"
          (nzOnCancel)="isVisible = false" nzOkText="Save" nzCancelText="Close" (nzOnOk)="saveDevice()"
          [nzStyle]="modalStyle" [nzCancelDisabled]="saving" [nzOkLoading]="saving" [nzMaskClosable]="false"
          [nzOkDisabled]="saving">

  <ng-container *nzModalContent>

    <div *ngIf="model">

      <div class="w-100">

        Communication Id:

        <input nz-input [(ngModel)]="model.deviceCommunicationId" class="w-100">

      </div>

      <div class="w-100 mt-3">

        <div>Color:</div>

        <nz-select class="w-100" [(ngModel)]="model.buttonColor">
          <nz-option nzValue="green" nzLabel="Green"></nz-option>
          <nz-option nzValue="blue" nzLabel="Blue"></nz-option>
          <nz-option nzValue="red" nzLabel="Red"></nz-option>
          <nz-option nzValue="yellow" nzLabel="Yellow"></nz-option>
          <nz-option nzValue="black" nzLabel="Black"></nz-option>
          <nz-option nzValue="silver" nzLabel="Silver"></nz-option>
        </nz-select>

      </div>

    </div>

  </ng-container>

</nz-modal>
