<nz-modal [(nzVisible)]="isVisible" [nzTitle]="(user?.id === 0 ? 'Create' : 'Edit') + ' User'" [nzWidth]="modalWidth"
          (nzOnCancel)="isVisible = false" nzOkText="Save" nzCancelText="Close" (nzOnOk)="saveUser()" [nzStyle]="modalStyle"
          [nzCancelDisabled]="saving" [nzOkDisabled]="saving" [nzOkLoading]="saving" [nzMaskClosable]="false">

  <ng-container *nzModalContent>

    <div *ngIf="user">

      <div class="w-100 mb-4">

        <div class="mb-2">Name:</div>

        <input nz-input [(ngModel)]="user.name" class="w-100">

      </div>

      <div class="w-100 mb-4" *ngIf="user.id === 0">

        <div class="mb-2">Username:</div>

        <input nz-input [(ngModel)]="user.username" class="w-100">

      </div>

      <div class="w-100 mb-4" *ngIf="user.id === 0">

        <div class="mb-2">Password:</div>

        <input nz-input [(ngModel)]="user.password" class="w-100">

      </div>

      <div class="w-50 mb-4">

        <div class="mb-2">Modules:</div>

        <ng-container *ngFor="let role of rolesQuery.roles$ | async">

          <div class="d-flex justify-content-between w-100 mb-2">

            {{role | displayRoleName}}

            <nz-switch [ngModel]="user | hasRole : role.id" (ngModelChange)="updateUsersRoles($event, role)"></nz-switch>
          </div>

        </ng-container>

      </div>

      <div class="w-100 mb-4">

        <div class="mb-2">Home Page:</div>

        <nz-select [ngModel]="user.userConfig.homePageRole" (ngModelChange)="updateUserHomePage($event)" style="width: 300px">
          <nz-option *ngFor="let role of user.roles" [nzLabel]="role | displayRoleName" [nzValue]="role.name"></nz-option>
        </nz-select>

      </div>

    </div>

  </ng-container>

</nz-modal>
