<nz-modal
  [nzVisible]="isVisible()"
  [nzTitle]="(model?.id === 0 ? 'Create' : 'Edit') + ' User'"
  [nzWidth]="modalWidth"
  (nzOnCancel)="usersStore.clearCreateEditEntity()"
  nzOkText="Save"
  nzCancelText="Close"
  (nzOnOk)="saveUser()"
  [nzStyle]="modalStyle"
  [nzCancelDisabled]="usersStore.loadingOne()"
  [nzOkDisabled]="usersStore.loadingOne()"
  [nzOkLoading]="usersStore.loadingOne()"
  [nzMaskClosable]="false"
>
  <ng-container *nzModalContent>
    @if (model) {
      <div>
        <div class="w-100 mb-4">
          <div class="mb-2">Name:</div>
          <input nz-input [(ngModel)]="model.name" class="w-100" />
        </div>
        @if (model.id === 0) {
          <div class="w-100 mb-4">
            <div class="mb-2">Username:</div>
            <input nz-input [(ngModel)]="model.username" class="w-100" />
          </div>
        }
        @if (model.id === 0) {
          <div class="w-100 mb-4">
            <div class="mb-2">Password:</div>
            <input nz-input [(ngModel)]="model.password" class="w-100" />
          </div>
        }
        <div class="w-50 mb-4">
          <div class="mb-2">Features:</div>
          @for (role of rolesStore.entities(); track role.id) {
            <div class="d-flex justify-content-between w-100 mb-2">
              {{ role | displayRoleName }}
              <nz-switch [ngModel]="model | hasRole: role.id" (ngModelChange)="updateUsersRoles($event, role)"></nz-switch>
            </div>
          }
        </div>
        <div class="w-100 mb-4">
          <div class="mb-2">Home Page:</div>
          <nz-select [ngModel]="model.userConfig.homePageRole" (ngModelChange)="updateUserHomePage($event)" style="width: 300px">
            @for (role of model.roles; track role.id) {
              <nz-option [nzLabel]="role | displayRoleName" [nzValue]="role.name"></nz-option>
            }
          </nz-select>
        </div>
      </div>
    }
  </ng-container>
</nz-modal>
