/* You can add global styles to this file, and also import other style files */
@import "ng-zorro-antd/ng-zorro-antd.dark.css";
@import "bootstrap/dist/css/bootstrap.min.css";

.cursor-pointer {
  cursor: pointer;
}

.task-points {
  width: 25px;
  text-align: center;
  font-size: 32px;
  font-family: "Droid Sans", serif;
  font-weight: bold;
}

.loading-container {
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
