.task-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.4);
  padding: 0.25rem 0.75rem;
  cursor: pointer;
  height: 63px;
}

.type-icon {
  width: 26.25px;
  text-align: center;
}

.title {
  font-size: 15px;
  color: white;
}

.due-text {
  font-style: italic;
  font-size: 11px;
}

::ng-deep {
  .ant-checkbox .ant-checkbox-inner {
    width: 25px;
    height: 25px;
    //border: 1px solid white;
    border: 1px solid rgba(255, 255, 255, 0.2);
  }

  .ant-checkbox-disabled .ant-checkbox-inner {
    width: 25px;
    height: 25px;
  }

  .ant-checkbox-checked .ant-checkbox-inner {
    width: 25px;
    height: 25px;
  }

  .ant-checkbox-inner::after {
    width: 8px;
    height: 12.5px;
  }
}
