<nz-table #backupsTableTag [nzData]="_backups" nzSize="small">
  <thead>
  <tr>
    <th nzWidth="60px"></th>
    <th>Backup Name</th>
    <th>Started At</th>
    <th>Run time</th>
    <th nzWidth="80px">Status</th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let backup of backupsTable?.data">
    <tr>
      <td [nzExpand]="expandSet.has(backup.id)" (nzExpandChange)="onExpandChange(backup.id, $event)"></td>
      <td>{{backup.id}}</td>
      <td>{{backup.startedAt | date : 'medium'}}</td>
      <td>{{backup | backupRunTime}}</td>
      <td class="w-100 d-flex justify-content-center">
        <app-status-icon [status]="backup | backupStatus" iconSize="2x"></app-status-icon>
      </td>
    </tr>
    <tr [nzExpand]="expandSet.has(backup.id)">
        <nz-collapse>
          <ng-container *ngFor="let backupStep of backup.backupSteps">
            <nz-collapse-panel [nzHeader]="backupStep.name" [nzExtra]="statusIcon">
              <div class="d-flex w-100" >

              </div>
            </nz-collapse-panel>
            <ng-template #statusIcon>
              <app-status-icon [status]="backupStep | backupStatus"></app-status-icon>
            </ng-template>
          </ng-container>
        </nz-collapse>

    </tr>
  </ng-container>
  </tbody>

</nz-table>

