<nz-table #backupsTableTag [nzData]="_backups" nzSize="small">
  <thead>
  <tr>
    <th nzWidth="60px"></th>
    <th nzWidth="120px">Actions</th>
    <th>Backup Name</th>
    <th>Last Run</th>
    <th>Run time</th>
    <th># of Runs</th>
    <th nzWidth="80px">Status</th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let backup of backupsTable?.data">
    <tr>
      <td [nzExpand]="expandSet.has(backup.id)" (nzExpandChange)="onExpandChange(backup.id, $event)"></td>
      <td>
        <button nz-button class="ant-btn-icon-only" nzType="text" nz-popconfirm
                nzPopconfirmTitle="Are you sure you want to run this backup?"
                (nzOnConfirm)="runBackup(backup)">
          <fa-icon [icon]="play" size="1x" class="text-success"></fa-icon>
        </button>
        <button nz-button class="ant-btn-icon-only" nzType="text"
                (click)="editBackup.emit(backup)">
          <fa-icon [icon]="edit" size="1x" class="text-primary"></fa-icon>
        </button>
        <button nz-button class="ant-btn-icon-only" nzType="text" nz-popconfirm
                nzPopconfirmTitle="Are you sure you want to archive this backup?"
                (nzOnConfirm)="backupsService.deleteBackups(backup)">
          <fa-icon [icon]="archive" size="1x" class="text-warning"></fa-icon>
        </button>
      </td>
      <td>{{backup.name}}</td>
      <td>{{ backup.backupJobs.length > 0 ? (backup.backupJobs[0].startedAt | date : 'medium') : 'Never run' }}</td>
      <td>{{backup.backupJobs.length > 0 ? (backup.backupJobs[0] | backupRunTime) : 'NA'}}</td>
      <td>{{backup.backupJobs.length}}</td>
      <td class="w-100 d-flex justify-content-center">
        @if (backup.backupJobs.length === 0) {
          <app-status-icon status="completed" iconSize="2x"></app-status-icon>
        } @else {
          <app-status-icon [status]="backup.backupJobs[0] | backupStatus" iconSize="2x"></app-status-icon>
        }
      </td>
    </tr>
    <tr [nzExpand]="expandSet.has(backup.id)">
        <nz-collapse>
          @for (backupJob of backup.backupJobs; track backupJob.id) {
            <nz-collapse-panel [nzHeader]="(backupJob.startedAt | date : 'medium')!" [nzExtra]="statusIcon">
              <div class="d-flex w-100" >

              </div>
            </nz-collapse-panel>
            <ng-template #statusIcon>
              <app-status-icon [status]="backupJob | backupStatus"></app-status-icon>
            </ng-template>
          }
        </nz-collapse>

    </tr>
  </ng-container>
  </tbody>

</nz-table>

