<ng-container *ngIf="user">

  <div class="d-flex flex-column align-items-center w-100">

    <div class="mb-3" style="font-size: 22px">{{user | weeklyProgressPercent : false | weeklyProgressMessage}}
      {{user | firstName}}!
    </div>

    <div class="mb-1" style="font-size: 14px">{{daysTillEndOfWeek}} days left
      ~ {{user.taskUserConfig?.completedFamilyTasks?.length}}/{{user.taskUserConfig?.tasksPerWeek}} completed
    </div>

  </div>

  <nz-progress [nzPercent]="user | weeklyProgressPercent : false"></nz-progress>

</ng-container>
