@for (session of sessions; track session.id) {

  <div class="session-box">

    <div class="first-row" (click)="test(session)">

      <div>

        <div class="title">{{session.name}}</div>

        <div class="sub-header d-flex align-items-center">

          @if (forAdmin) {
            <div>{{session.createdAt | date}}</div>
          } @else {
            {{session.gamingSessionDevices.length}} players joined
          }

        </div>

      </div>

      <div style="width: 18px; text-align: center">
        @if (forAdmin) {
          @if (session.endedAt) {
            <fa-icon style="color: #e23636" [icon]="offline"></fa-icon>
          } @else {
            <fa-icon style="color: #82dd55" [icon]="online"></fa-icon>
          }
        } @else {
          <fa-icon [icon]="arrow"></fa-icon>
        }
      </div>

    </div>

  </div>

}
