<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="(family?.id === 0 ? 'Create' : 'Edit') + ' Family'"
  [nzWidth]="modalWidth"
  (nzOnCancel)="isVisible = false"
  nzOkText="Save"
  nzCancelText="Close"
  (nzOnOk)="saveFamily()"
  [nzCancelDisabled]="saving"
  [nzOkLoading]="saving"
  [nzMaskClosable]="false"
  [nzOkDisabled]="saving"
  [nzStyle]="modalStyle"
>
  <ng-container *nzModalContent>
    <div *ngIf="family">
      <div class="w-100 mb-4">
        <div class="mb-2">Family Name:</div>

        <input nz-input [(ngModel)]="family.name" nzSize="large" class="w-100" />
      </div>

      <div class="w-100 mb-4 d-flex justify-content-between align-items-center">
        <div class="">Task Type:</div>

        <nz-radio-group [(ngModel)]="family.taskStrategy" nzButtonStyle="solid" nzSize="large">
          <label nz-radio-button nzValue="per task">Per Task</label>
          <label nz-radio-button nzValue="per task point">Per Task Point</label>
        </nz-radio-group>
      </div>

      <div class="w-100 mb-4" *ngIf="family.taskStrategy === 'per task point'">
        <div>Task Points <span style="font-style: italic">(up to 5):</span></div>

        <div class="d-flex justify-content-evenly">
          <span
            *ngFor="let taskPoint of family.taskPoints"
            class="me-2 task-points"
            style="color: {{ family.taskPoints | updatingTaskPointColors: taskPoint }}"
          >
            {{ taskPoint }}
          </span>
        </div>

        <nz-select
          [ngModel]="family.taskPoints"
          class="w-100"
          nzMode="multiple"
          nzSize="large"
          (ngModelChange)="updateFamilyTaskPoints($event)"
          [nzMaxMultipleCount]="5"
        >
          <nz-option *ngFor="let point of listOfPoints" [nzValue]="point" [nzLabel]="point"></nz-option>
        </nz-select>
      </div>

      <div class="w-100 mb-4" *ngIf="showFamilyMembers">
        <div class="mb-2">Family Members:</div>

        <nz-select
          [ngModel]="family.members | usersToIds"
          class="w-100"
          nzMode="multiple"
          nzSize="large"
          (ngModelChange)="updateFamilyMembers($event)"
        >
          <nz-option *ngFor="let user of usersQuery.users$ | async" [nzValue]="user.id" [nzLabel]="user.name"></nz-option>
        </nz-select>
      </div>
    </div>
  </ng-container>
</nz-modal>
