<nz-modal [(nzVisible)]="isVisible" [nzTitle]="(family?.id === 0 ? 'Create' : 'Edit') + ' Family'" nzWidth="500px"
          (nzOnCancel)="isVisible = false" nzOkText="Save" nzCancelText="Close" (nzOnOk)="saveFamily()"
          [nzCancelDisabled]="saving" [nzOkDisabled]="saving" [nzOkLoading]="saving" [nzMaskClosable]="false">

  <ng-container *nzModalContent>

    <div *ngIf="family">

      <div class="w-100 mb-4">

        <div class="mb-2">Family Name:</div>

        <input nz-input [(ngModel)]="family.name" class="w-100">

      </div>

      <div class="w-100 mb-4">

        <div class="mb-2">Family Members:</div>

        <nz-select [ngModel]="family.members | usersToIds" class="w-100" nzMode="multiple"
                   (ngModelChange)="updateFamilyMembers($event)">
          <nz-option *ngFor="let user of usersQuery.users$ | async" [nzValue]="user.id"
                     [nzLabel]="user.name"></nz-option>
        </nz-select>

      </div>

    </div>

  </ng-container>


</nz-modal>
